.login-bg {
  background: #fff;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.login-card {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.login-header {
  background: #e03232;
  height: 400px;
  border-radius: 0 0 48px 48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-title {
  color: #fff;
  font-size: 100px;
  font-family: 'ABeeZee', 'Helvetica', Arial, sans-serif;
  letter-spacing: 1px;
  margin: 0;
}

.login-subtitle {
  color: #fff;
  font-size: 50px;
  font-family: 'Poppins', 'Helvetica', Arial, sans-serif;
  margin-top: 10px;
}

.login-btn-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
  margin-top: 24px;
  gap: 24px;
}

.login-btn-row {
  display: flex;
  width: 100%;
  gap: 12px;
  margin-top: 12px;
}

.login-btn {
  padding: 14px 0;
  font-size: 30px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: background 0.2s, color 0.2s, border 0.2s;
}

.login-btn.main {
  background: #fd4343;
  color: #fff;
}

.login-btn.sub {
  background: #ff2c2c;
  color: #fff;
}

.login-btn.outline {
  background: #fff;
  color: #fc3838;
  border: 2px solid #ff3737;
}
