.nav-bar {
  position: fixed;
  bottom: 0; left: 0;
  width: 100vw;
  height: 64px;
  background: #2C6EFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}
.nav-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #dbeafe;
  font-size: 26px;
  opacity: 0.8;
  cursor: pointer;
  user-select: none;
}
.nav-icon.active {
  color: #fff;
  opacity: 1;
}
.nav-label {
  font-size: 11px;
  margin-top: 3px;
}
